.itemTitle {
  font-size: 25px;
  font-weight: 700;
}
.itemText {
  font-weight: 500;
}
.itemCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  margin-bottom: 20px;
}
.itemImg {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 30px;
}
.cardBtn {
  background-color: rgb(48, 176, 48);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
}
.cardBtn:hover {
  background-color: rgb(21, 136, 21);
  transition: 0.5s;
}
/* Smartphones (portrait) ----------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .itemCards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .itemCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
